<%- include('partials/header') %> 
<link rel="stylesheet" href="css/about-contact.css">
<!-- About page top section -->
<section class="row top-section">
    <div class="col-lg-6 content-top">
      <h1>ABOUT US</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.</p>
      <h1>OUR MISSION</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.</p>

    </div>
    <div class="col-lg-6">
      <img class = "img-about-us"src="images/about-us.jpg" alt="">
    </div>
  </section>



  <!-- About page 2nd section profile cards -->

  <section class="profile-cards">
    <h2 class="about-us-title">OUR TEAM</h2>
    <div class="container-fluid bottom-section">
      <div class="row">

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card">
            <div class="card-img-block">
              <img class="img-fluid" src="images/1a.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="images/1b.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Nishant Rai</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Information Technology.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100010935516710"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Nishant24406983"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/__misdenominate_____love/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card">
            <div class="card-img-block">
              <img class="img-fluid" src="images/Su2.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="images/Su.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Sumit Singh</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Electronics and Communication Engineering.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100006602681552"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/SumitSinghss194"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/sumit_singh194/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card">
            <div class="card-img-block">
              <img class="img-fluid" src="images/3a.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="images/3c.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Shashank Pandey</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Computer Science Engineering.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100026412185832"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Shashan73400119"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/shashank088/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer part -->
  <footer class="footer">

<%- include('partials/footer') %> 
