<%- include('partials/header') %> 

    <!-- Main Page Intro Prt -->
    <section id="first">
      <div class="title-intro">
        <h1 class="first-page-main-title ">CareerDeck</h1>
        <h3 class="first-page-main-content ">We here at careerDeck help you achieve your dreams and goals. We provide you a platform where you can be a recruiter
         or a job seeker. Join us today and leave the rest upon us..</h3>
    </div>
    </section>


    <footer class="footer">
<%- include('partials/footer') %> 